@import '../../global.scss';
.categories {
  display: flex;
  padding-left: 8.5%;
  border-bottom: 2px solid black;
  padding-bottom: 6px;
  button {
    font-size: 15px;
    font-weight: bold;
  }
}

.item {
  position: relative;
  padding: 23px 0;
  display: flex;
  align-items: center;
  font-size: 15px;
  border-bottom: 1px solid $grey;
  &Wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 15px;
    padding-left: 8.5%;
  }
}

.grow {
  width: 18.5%;
  &Third {
     width: 25%;
  }
}

.position {
  position: absolute;
  left: 4%;
  font-weight: bold;
}

.btn {
  width: 27px;
  height: 27px;
}